<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dashboardItems</key>
	<array>
		<dict>
			<key>itemName</key>
			<string>Messages</string>
			<key>imageName</key>
			<string>fa-calendar</string>
			<key>RGBValue</key>
			<dict>
				<key>R</key>
				<integer>80</integer>
				<key>G</key>
				<integer>174</integer>
				<key>B</key>
				<integer>85</integer>
			</dict>
		</dict>
		<dict>
			<key>itemName</key>
			<string>Attendance</string>
			<key>imageName</key>
			<string>fa-calendar</string>
			<key>RGBValue</key>
			<dict>
				<key>R</key>
				<integer>120</integer>
				<key>G</key>
				<integer>85</integer>
				<key>B</key>
				<integer>73</integer>
			</dict>
		</dict>
		<dict>
			<key>itemName</key>
			<string>Calendar</string>
			<key>imageName</key>
			<string>fa-calendar</string>
			<key>RGBValue</key>
			<dict>
				<key>R</key>
				<integer>46</integer>
				<key>G</key>
				<integer>104</integer>
				<key>B</key>
				<integer>251</integer>
			</dict>
		</dict>
		<dict>
			<key>itemName</key>
			<string>Circulars</string>
			<key>imageName</key>
			<string>fa-list-ul</string>
			<key>RGBValue</key>
			<dict>
				<key>R</key>
				<integer>212</integer>
				<key>G</key>
				<integer>78</integer>
				<key>B</key>
				<integer>49</integer>
			</dict>
		</dict>
		<dict>
			<key>itemName</key>
			<string>Fees</string>
			<key>imageName</key>
			<string>fa-dollar</string>
			<key>RGBValue</key>
			<dict>
				<key>R</key>
				<integer>30</integer>
				<key>G</key>
				<integer>190</integer>
				<key>B</key>
				<integer>165</integer>
			</dict>
		</dict>
		<dict>
			<key>itemName</key>
			<string>Tracking</string>
			<key>imageName</key>
			<string>fa-bus</string>
			<key>RGBValue</key>
			<dict>
				<key>R</key>
				<integer>103</integer>
				<key>G</key>
				<integer>63</integer>
				<key>B</key>
				<integer>180</integer>
			</dict>
		</dict>
		<dict>
			<key>itemName</key>
			<string>Homeworks</string>
			<key>imageName</key>
			<string>fa-calendar</string>
			<key>RGBValue</key>
			<dict>
				<key>R</key>
				<integer>155</integer>
				<key>G</key>
				<integer>47</integer>
				<key>B</key>
				<integer>174</integer>
			</dict>
		</dict>
		<dict>
			<key>itemName</key>
			<string>Exam Results</string>
			<key>imageName</key>
			<string>fa-calendar</string>
			<key>RGBValue</key>
			<dict>
				<key>R</key>
				<integer>195</integer>
				<key>G</key>
				<integer>25</integer>
				<key>B</key>
				<integer>99</integer>
			</dict>
		</dict>
		<dict>
			<key>itemName</key>
			<string>Time Table</string>
			<key>imageName</key>
			<string>fa-calendar</string>
			<key>RGBValue</key>
			<dict>
				<key>R</key>
				<integer>30</integer>
				<key>G</key>
				<integer>90</integer>
				<key>B</key>
				<integer>35</integer>
			</dict>
		</dict>
	</array>
	<key>optionsArray</key>
	<array>
		<dict>
			<key>itemName</key>
			<string>Help</string>
		</dict>
		<dict>
			<key>itemName</key>
			<string>About</string>
		</dict>
	</array>
</dict>
</plist>
